@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Monoton');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  cursor: url("./assets/cursor.svg") 0 0,auto;
}

.cursor-hover{
  cursor: url("./assets/cursor-hover.svg") 16 16, auto;
}

/* .cursor-pointer{
  cursor: url("./assets/cursor.svg") 16 16, auto;
} */

html{
  overflow-x: hidden;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #2c013e,
      #12003d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #2c013e,
        #12003d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #f12711,
      #f5af19);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #f12711,
      #f5af19);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/* Custom */
.scale-200 {
  transform: scale(2);
}

.scale-250 {
  transform: scale(2.5);
}

.neon-shadow {
  box-shadow: 0px 2px 15px 0px rgba(186, 122, 255, 0.929)
}

.neon-shadow-only-hover:hover {
  box-shadow: 0px 2px 15px 0px rgba(186, 122, 255, 0.929)
}

.neon-btn-shadow-only-hover:hover {
  box-shadow: 0px 0px 4px 0px rgba(186, 122, 255)
}

.scale-on-hover:hover{
  transform: scale(1.1);
  transition: transform 100ms ease-in-out;
}

.project-neon-shadow{
  box-shadow: 0px 0px 15px 0px rgba(186, 122, 255, 0.929);
}
.uniform-neon-shadow{
  box-shadow: 0px 0px 15px 0px rgba(186, 122, 255, 0.929);
}
.uniform-success-shadow{
  box-shadow: 0px 0px 15px 0px rgba(24, 255, 139, 0.929);
}

.input-shadow-hover-and-active{
  transition: box-shadow 400ms ease-out;
}

.input-shadow-hover-and-active:hover , .input-shadow-hover-and-active:focus {
  box-shadow: 0px 0px 8px 0px rgba(186, 122, 255, 0.929);
  outline: none;
  border: none;
  transition: box-shadow 200ms ease-in;
}

.transition-tilt{
  transition: all 60ms ease-in-out,
}

.project-neon-shadow:hover{
  box-shadow: 0px 0px 20px 5px rgba(186, 122, 255, 0.929);
  transition: all 60ms ease-in-out, box-shadow 200ms ease-in-out;
}

.open-live-link{
  transition: all 60ms ease-in-out, box-shadow 200ms ease-in-out;
}


.open-live-link::before{
  content: "Open Live Project ⭧";
    display: block;
    position: absolute;
    left: 35%;
    top: 30px;
    text-align: center;
    font-size: 12px;
    transition: all 200ms ease-out, opacity 50ms ease-in;
    opacity: 0;
}

.download-resume, .linkedin{
  transition: all 100ms ease-in;
}

.download-resume:hover, .linkedin:hover{
  transform: scale(1.1);
}

.download-resume::after{
  content: "Download My Resume ↴";
  display: block;
  position: absolute;
    right: -35%;
    top: 30px;
    text-align: center;
    font-size: 12px;
}

.open-live-link:hover{
  box-shadow: 0px 0px 2px 1px rgba(186, 122, 255, 0.929);
  border-radius: 10px;
  transform: scale(1.05);
  transition: all 60ms ease-in-out, box-shadow 200ms ease-in-out;
}

.open-live-link:hover::before{
  top: -40px;
  opacity: 1;
  transition: all 200ms ease-in, opacity 400ms ease-in;
}

.tech-tag{
  padding: 4px 8px;
  border-radius: 6px;
}

.blur-backdrop{
  background: rgba(0,0,0,0.4);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blur-backdrop {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.send-btn{
  border: 2px solid transparent;
  transition: 100ms all ease-out;
}

.send-btn:hover{
  border-color: rgba(186, 122, 255);
  box-shadow: 0px 0px 20px 0px rgba(186, 122, 255);
  transition: 100ms all ease-in;
  background-color: rgba(186, 122, 255);
}

.sending-animation {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(186, 122, 255);
    background-color: rgba(186, 122, 255);
  }

  50% {
    box-shadow: 0px 0px 20px 0px rgba(186, 122, 255);
    background-color: rgba(186, 122, 255);
  }

  100% {
    box-shadow: 0px 0px 0px 0px rgba(186, 122, 255);
    background-color: rgba(186, 122, 255);
  }
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #804dee;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

.background-vanta{
  width: 100vw;
  height: 100vh;
}

.margin-top-100{
  margin-top: 100vh;
}

/* Scroll Arrows */
.arrow-container {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}

.arrow-container:hover {
  cursor: url("./assets/cursor-hover.svg") 16 16, auto;
}

.arrow-container:hover .arrow {
  top: 50%;
  animation: none;
}

.arrow-container:hover .arrow:before {
  transform: translate(-50%, -50%) rotateZ(-40deg);
  box-shadow: 0px 0px 4px 1px rgba(186, 122, 255, 0.929)
}

.arrow-container:hover .arrow:after {
  transform: translate(-50%, -50%) rotateZ(40deg);
  box-shadow: 0px 0px 4px 1px rgba(186, 122, 255, 0.929)
}

.arrow {
  position: absolute;
  left: 50%;
  animation: moveUpDown 2s infinite ease-in-out;
  transition: all 0.4s ease;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.arrow:before,
.arrow:after {
  transition: all 0.4s ease;
  content: '';
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #fff;
  width: 2px;
  height: 35px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.arrow:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}

.arrow:nth-child(2) {
  opacity: 0.6;
  top: 55%;
}

.arrow:nth-child(3) {
  opacity: 0.9;
  top: 75%;
}


/* Text Effect */
.name{
    font-style: italic;
    font-family: 'Monoton', cursive, Tahoma,
      Sans-Serif;
    font-weight: 400;
    color: #fff;
    animation: flicker 1.5s infinite alternate;
}

.error {
  color: rgb(255, 139, 139);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 6px red, 0 0 20px red;
  letter-spacing: 2px;
  text-transform: uppercase;
}


@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    backdrop-filter: blur(0.4);
    text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 2rem rgb(116, 0, 205),
      0 0 4rem rgb(116, 0, 205),
      0 0 6rem rgb(116, 0, 205);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.screen-loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #00000030;
  backdrop-filter: blur(20px);
}

.vertical-timeline::before{
  top: 50px !important;
  height: 65% !important;
}

/* custom Scrollbar */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #2d004d43;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#a600ff, #3300cc);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#a600ff, #000099);
}

.hideDropNav{
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 200ms ease-in, opacity 100ms ease-in;
}

.showDropNav{
  transform: translateY(80%);
  opacity: 1;
  transition: transform 200ms ease-in, opacity 300ms ease-in;
}

.nav-link{
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link:hover, .active-nav-link, .contact-nav-link{
  color: #fff;
    text-shadow: 0 0 5px rgb(116, 0, 205), 0 0 6px rgb(215, 170, 250), 0 0 20px rgb(116, 0, 205);
}

.active-nav-link a svg path, .nav-link:hover a svg path{
  stroke: rgb(242, 224, 255);
  filter: drop-shadow(0 0 2px rgb(215, 170, 250));
}

.contact-nav-link a svg{
  fill: rgb(228, 190, 255);
  filter: drop-shadow(0 0 2px rgb(215, 170, 250));
}